body{
    border-style: solid;
    border-color: #4b5257;
    border-width: 50px;
}

#datePic{
    width: 500px;
    height: 500px;
    margin-left: 750px;
    display: block;
}

p{
    margin-right: 550px;
    margin-left: 50px;
    font-style: italic;
}

h1{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

h4{
    text-align: left;
}

button{

}