
#border{
    margin-top: 25px;
    border-style: solid;
    border-color: #4b5257;
    border-width: 1px;
}

#navHeader{
    height: 5vh;
    background-color:lightgray;
    background-size: cover;
}

#datePic{
    width: 500px;
    height: 500px;
    margin-left: 575px;
    margin-top: -485px;
    margin-bottom: 25px;
    display: inline-block;
}

p{
    margin-right: 550px;
    margin-left: 30px;
    font-style: italic;
}